h2{
  min-height: 20vh;

}
p{
  text-align: center;
  
}
 
.fixTableHead {
  overflow-y: auto;
  height: 550px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;        
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  
  
}
th {
  background: #ABDD93;
}

